@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
.card{
    background-color: rgb(101, 105, 182);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    background-color: rgba(214, 208, 208, 0.247);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    height: 300px;
    max-width: 600px;
    overflow: hidden;
    font-family: 'Cinzel', serif;
}
.img{
    min-width: 300px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 60%;
  
    transition: transform 1s ease-in-out;
  
}
img:hover{
    transform: scale(1.4);
}
.content h3{
    padding-top: 30px;
    color: blue;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: rgb(247, 255, 4);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content p{
    padding-top: 40px;
    padding-right: 15px; 
}
.text{
    transition-property: transform;
    animation: text 1s;
} 
@keyframes text {
    from{
        transform: translateX(-40px);
    }
    to{
        transform:translateX(0px);
    }
}

@media  screen and (max-width: 630px) {
    .content{
        display: flex;
        flex-direction: column;
        height: 500px;
        max-width: 400px;
        padding: 10px;
       
    }

    img{
        height: 100px;
        width: 100px;
        border-radius: 60%;
        margin-top: 30px;
      
    }
    .content h3{
        padding-top: 30px;
        color: blue;
        text-decoration-color: rgb(247, 255, 4);
        text-align: center;
        text-decoration: underline;
        letter-spacing: 2px;
    }
    .content p{
        padding-top: 40px;
        padding-right: 15px; 
    }
    .text{
        transition-property: transform;
        animation: text 1s;
        text-align: justify;
        line-height: 30px;
        font-size: 20px;
    } 
    
}
@media  screen and (max-width: 430px) {
    .content{
        display: flex;
        flex-direction: column;
        height: 550px;
        max-width: 280px;
        padding: 10px;
       
    }

    img{
        height: 100px;
        width: 100px;
        border-radius: 60%;
        margin-top: 30px;
      
    }
    .content h3{
        padding-top: 30px;
        color: blue;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: rgb(247, 255, 4);
        letter-spacing: 2px;
    }
    .content p{
        padding-top: 40px;
        padding-right: 15px; 
    }
    .text{
        transition-property: transform;
        animation: text 1s;
        text-align: justify;
        line-height: 30px;
        font-size: 18px;
    } 
    
}